<?xml version="1.0" encoding="UTF-8"?>
<phpunit bootstrap="vendor/autoload.php"
         backupGlobals="false"
         backupStaticAttributes="false"
         colors="true"
         verbose="true"
         convertErrorsToExceptions="true"
         convertNoticesToExceptions="true"
         convertWarningsToExceptions="true"
         processIsolation="false"
         stopOnFailure="false">
    <testsuites>
        <testsuite name="Test Suite">
            <directory>tests</directory>
        </testsuite>
    </testsuites>
    <coverage>
        <include>
            <directory suffix=".php">src/</directory>
        </include>
        <report>
            <clover outputFile="build/clover.xml"/>
            <cobertura outputFile="build/cobertura.xml"/>
            <crap4j outputFile="build/crap4j.xml" threshold="50"/>
            <html outputDirectory="build/html-coverage" lowUpperBound="50" highLowerBound="90"/>
            <php outputFile="build/coverage.php"/>
            <text outputFile="build/coverage.txt" showUncoveredFiles="false" showOnlySummary="true"/>
            <xml outputDirectory="build/xml-coverage"/>
        </report>
    </coverage>
    <logging>
        <junit outputFile="build/report.junit.xml"/>
        
    </logging>
</phpunit>